.vs/*
*.o
bin/*
obj/*
build/*
Debug/*
CodeGraphData/*
cfparser/bin/*
cfparser/Debug/*
cfparser/build/*
cfparser/obj/*
cfparser/*.pdb
cfparser/Debug/*.pdb
cfparser/cfparser/Debug/*
cfparser/cfparser/*.user
cfparser/cfparser/cfparser.vcxproj
cfparser/cfparser/x64/*

*.layout
*.depend

*.a
*.out
*.suo
*.ipch
*.filters
*.db
*.opendb
/build/
